awscli 2.1.39
aws-vault 6.3.0
conftest v0.23.0
jq 1.6
go-jsonnet 0.17.0
jb 0.4.0
kubectl 1.19.9
kubergrunt 0.6.10
kustomize 3.8.1
opa 0.26.0
pluto 4.0.4
tanka 0.13.0
terraform 0.13.5
terraform-docs 0.10.1
terragrunt 0.26.7
yq v4.6.2
